@import "helpers";

.auth {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (width >= $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    display: none;

    @media (width >= $desktop) {
      background-image: url("~/src/assets/images/bg.jpg");
      background-size: cover;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
